@{
    ViewBag.Title = "Home Page";
}

<div id="home-welcome">
    <div class="home-welcome-container">
        <h1>Welcome to Trave Experts</h1>
        <h2>Login or Register to access your vacation packages!</h2>
        <div class="row">
            <div class="col-md-6">
                <button class="btn-log-reg">Login</button>
            </div>
            <div class="col-md-6">
                <button class="btn-log-reg">Register</button>
            </div>            
        </div>

        </div>
</div>