@model TravelExperts_Web_App.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Your Account</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Name: </dt>
        <dd>
            @Html.DisplayFor(m => m.UserName) | [@Html.ActionLink("Change", "ChangeUserName")]
        </dd>
        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change", "ChangePassword")]
        </dd>
    </dl>
</div>
